article.book-min {

}

article.book-min .fas {
  font-size: 2em;
}

article.book-min .meta {
  padding: 1em;
}

article.book-min .meta .name {
  color: black;
  text-decoration: none;

  font-weight: bold;
  font-size: 1.1em;

  display: block;
}

article.book-min .meta .author {
  display: block;

  color: black;
  text-decoration: none;
  font-style: italic;
}

.overdue {
  font-weight: bold;
  color: red;
}